body {
  font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.page-section {
  min-height: 80vh;
  padding: 0 0 2rem;
}

.masthead {
  text-align: center;
  color: white;

  /* background-image: url(http://uploads.webflow.com/58c6f47…/58d2994…_bg-ball.png), radial-gradient(circle closest-corner at 48% 112%, #3e97e6, #2c5499), linear-gradient(180deg, #3470b9, #3470b9); */
  background-image: radial-gradient(circle closest-corner at 48% 112%, #3e97e6, #2c5499), linear-gradient(180deg, #3470b9, #3470b9);
  background-position: 90% 125%, 0px 0px, 0px 0px;
  /* background-size: 500px, auto, auto; */
  background-repeat: no-repeat, repeat, repeat;
  box-shadow: inset 0 0 2.125rem rgba(0, 0, 0, 0.2);
}

.masthead h1, .masthead h2 {
  margin-bottom: 2.6rem;
}


.navbar a {
  color: #fff;
}


.masthead h2 {
  font-size: 3rem;
  font-weight: 700;
}

.masthead p {
  width: 66%;
  margin: 0 auto 4rem;
  font-size: 1.2rem;
  text-shadow: 3px 1px 6px #000;
}

.cta {
  margin: 4rem 0;
}
/*
.masthead h1 {
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -0.05rem;
  width: 100%;
  font-size: 3.125em;
  line-height: 1.25;
  font-weight: 700;
}
*/

.section-header {
  padding: 4rem 2rem;
}

.section-header h1, .masthead h2 {
  //letter-spacing: -0.033rem;
  color: #fff;
  text-shadow: 0 4px 3px rgba(0, 0, 0, .2), 0 8px 13px rgba(0, 0, 0, .1), 0 18px 23px rgba(0, 0, 0, .1);
  background: -webkit-linear-gradient(#eee, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}

.section-header h1 {
  font-size: 3.8rem;
  line-height: 4.6rem;
  font-weight: 700;
}

.navbar {
  margin: 4rem 0 8rem;
}

.masthead h3 {
    font-weight: 400;
}




.cta .btn-primary, .cta .btn-secondary {
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  min-width: 200px;
  border: 0;
  border-radius: 3rem;
  margin: 0 0.8rem;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #333;

  /*
  font-weight: 400;
  letter-spacing: -0.02rem;
  padding: 1rem 2.6rem 1.2rem;
  border: 2px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  transition: all .25s ease;
  */
}

.cta .btn-primary {
  text-shadow: none;
  box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
  background: linear-gradient(#fff,#e4e4e9) no-repeat;
}

.cta .btn-secondary {
  color: #fff;
  text-shadow: 0 1px 0 #4b5ef0;
  background: linear-gradient(#ffdc52,#fcb243) no-repeat;
  box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #fcb243;
}

.cta .btn-primary:hover {

  box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);

}

.cta .btn-secondary:hover {

  box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #4b58ba;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);

}

.cta .btn-primary:active {

  background-image: linear-gradient(to top,#fff,#e4e4e9) no-repeat;
  box-shadow: inset 0 2px 0 1px rgba(132,138,184,0.11), inset 0 2px 9px 0 rgba(93,100,148,0.5), inset 0 -1px 0 1px #e4e4e9;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);

}

.cta .btn-secondary:active {

  background-blend-mode: multiply,normal;
      background-image: linear-gradient(#5468ff,#5468ff), linear-gradient(to top,#fff,#e4e4e9) no-repeat;
      box-shadow: inset 0 2px 0 1px rgba(132,138,184,0.11), inset 0 2px 9px 0 rgba(93,100,148,0.5), inset 0 -1px 0 1px #5468ff;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);

}



.news {
  /* background-image: url(http://uploads.webflow.com/58c6f4785a5b181278692cba/58d298995a1a9a0c18f466ea_bg-grass.png), radial-gradient(circle closest-corner at 57% 83%, #8dc95e, #68b12e), linear-gradient(180deg, #4caf50, #4caf50); */
  background-image: radial-gradient(circle closest-corner at 57% 83%, #8dc95e, #68b12e), linear-gradient(180deg, #4caf50, #4caf50);
  background-position: 50% 100%, 0px 0px, 0px 0px;
  /* background-size: 506px, auto, auto; */
  background-repeat: repeat-x, repeat, repeat;
}

.faqs {
  /* background-image: url(http://uploads.webflow.com/58c6f47…/58d2cbe…_bg-shoes.png), radial-gradient(circle closest-corner at 49% 22%, #ffdc52, #fcb243), linear-gradient(180deg, #fed149, #fed149); */
  background-image: radial-gradient(circle closest-corner at 49% 22%, #ffdc52, #fcb243), linear-gradient(180deg, #fed149, #fed149);
  background-position: 100% 114%, 0px 0px, 0px 0px;
  /* background-size: 400px, auto, auto; */
  background-repeat: no-repeat, repeat, repeat;
}

.faq-deck {
  margin-top: -2rem;
}

.faq-card {
  min-height: 300px;
  margin: 0 1rem 1rem;
  border-radius: 30px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-out 0s, opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1), transform 1000ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.faq-card:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}


.contact {
  /* background-image: url(http://uploads.webflow.com/58c6f47…/58d2c6d…_bg-phone-temp.png), radial-gradient(circle farthest-corner at 50% 50%, #f37747, #d11a1a), linear-gradient(180deg, #db3535, #db3535); */
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #f37747, #d11a1a), linear-gradient(180deg, #db3535, #db3535);
  background-position: 100% 100%, 0px 0px, 0px 0px;
  /* background-size: 500px, auto, auto; */
  background-repeat: no-repeat, repeat, repeat;
}


.footer {
  background: #2b2b2b;
}
